<!-- <div class="container" style="justify-content: space-between">
  <div class="child1">
    <div class="subchild1" style="height: 20vh; background-color: black; color: white">
      <i class="fas fa-sign-out-alt" style="font-size: 24px; transform: rotate(180deg)" (click)="logout()"></i>
    </div>

    <div class="subchild2" style="height: 20vh; background-color: black; color: white">
      <div class="last">
        <ul class="">
          <li class="setting" (click)="setting()">
            <i class='fas fa-lock' aria-hidden="true" style="text-align: center; font-size: 24px"></i>
          </li>
          <li class="setting" (click)="setting()">
            <i class="fa fa-cog" aria-hidden="true" style="text-align: center; font-size: 24px"></i>
          </li>
          <li class="setting">
            <i class="fa fa-share-alt" aria-hidden="true" style="text-align: center; font-size: 24px"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="child2">
    <div class="subchild1">
      <div>
        <h2>CollaboAlbum</h2>
        <hr />
      </div>
    </div>

    <div class="subchild2">
      <ul>
        <li>
          <a [routerLink]="['/home']"><i class="fa fa-camera-retro" style="font-size: 12px; color: black"></i>
            Albums</a>
        </li>
        <li>
          <a (click)="setting()"><i class="fa fa-file-archive" style="font-size: 12px; color: black"></i>
            My Albums</a>
        </li>
        <li>
          <a (click)="gotoShared()"><i class="fa fa-share-alt" style="font-size: 12px; color: black"></i>
            Shared Albums</a>
        </li>
        <li>
          <a [routerLink]="['/permisson']"><i class="fa fa-solid fa-building-shield"
              style="font-size: 12px; color: black"></i>
            Permission</a>
        </li>

      </ul>
    </div>
  </div>
  <div class="child3">
    <div class="navbar">
      <div></div>
      <div><i class="far fa-user-circle" style="font-size: 24px"></i></div>
    </div>
    <div class="search">
      <div>
        <h1>Images</h1>
        <hr />
      </div>
      <div>
        <button class="button1" (click)="toggleVisibility()">
          <i class="fa fa-plus" aria-hidden="true" style="margin: 4px"></i>Add
          Images
        </button>
      </div>
    </div>
    
    <div class="search">
      <table class="custom-table">
        <thead>
          <tr class="sepration">
            <th colspan="1">Id</th>
            <th colspan="1">Image</th>
            <th colspan="1">Owner name</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of photo">
            <td colspan="1">{{ item.id }}</td>
            <td colspan="1">
              <a [routerLink]="['/displayImage', item.id]"><img src="http://localhost:3000/uploads/{{ item.image }}"
                  alt="" style="width: 10px; height: 10px" /></a>
            </td>
            <td colspan="1">
              {{item.owner_name}}
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div id="myDiv" [ngStyle]="{ display: isVisible ? 'block' : 'none' }">
      <div>
        <h2>Upload Images</h2>
        <form (ngSubmit)="onSubmit()" #imageForm="ngForm">
          <input type="file" accept="image/*" (change)="onFileSelected($event)" multiple />
          <button type="submit" [disabled]="!selectedFiles">Upload</button>
        </form>
      </div>
      <div *ngIf="selectedFiles" class="search1">
        <h3>Selected Images:</h3>
        <div *ngFor="let file of selectedFiles" class="search1">
          <div class="image-preview" class="image">
            <img [src]="getImageUrl(file)" alt="{{ file.name }}" />
            <p>{{ file.name }}</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div> -->

<div class="search">
  <div>
    <h1 style="color:black;">Images</h1>
    <hr />
  </div>
  <!-- <div><input type="text" name="" id="" placeholder="Search the album"></div> -->
  <div>
    <button class="button1" mat-raised-button (click)="openDialog()" style="background-color: black; color: white;">
      <i class="fa fa-plus" aria-hidden="true" style="margin: 4px; "></i>Add
      Images
    </button>
  </div>
</div>
<!-- <div class="search1" *ngFor="let item of photo">
  <div class="image">
    <img src="http://localhost:3000/uploads/{{ item.image }}" alt="" />
    <span class="button2"><i class="fa fa-times" aria-hidden="true" (click)="onDelete(item)"></i>
    </span>
  </div>
</div> -->
<div class="search">
  <table class="custom-table">
    <thead>
      <tr class="sepration">
        <th colspan="1">Id</th>
        <th colspan="1">Image</th>
        <th colspan="1">Owner name</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of photo">
        <td colspan="1">{{ item.id }}</td>
        <td colspan="1">
          <a [routerLink]="['/dashboard/displayImage', item.id]"><img
              src="http://localhost:3000/uploads/{{ item.image }}" alt="" style="width: 10px; height: 10px" /></a>
        </td>
        <td colspan="1">
          {{item.owner_name}}
        </td>

      </tr>
    </tbody>
  </table>
</div>
<!-- <div id="myDiv" [ngStyle]="{ display: isVisible ? 'block' : 'none' }">
  <div>
    <h2>Upload Images</h2>
    <form (ngSubmit)="onSubmit()" #imageForm="ngForm">
      <input type="file" accept="image/*" (change)="onFileSelected($event)" multiple />
      <button type="submit" [disabled]="!selectedFiles">Upload</button>
    </form>
  </div>
  <div *ngIf="selectedFiles" class="search1">
    <h3>Selected Images:</h3>
    <div *ngFor="let file of selectedFiles" class="search1">
      <div class="image-preview" class="image">
        <img [src]="getImageUrl(file)" alt="{{ file.name }}" />
        <p>{{ file.name }}</p>
      </div>
    </div>
  </div>
</div> -->
<!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
  style="background-color: whitesmoke;">
</mat-paginator> -->