<!-- <div class="container" style="justify-content: space-between;">
  <div class="child1">
    <div class="subchild1" style="height: 20vh; background-color: black; color: white;">
      <i class='fas fa-sign-out-alt' style='font-size:24px; transform: rotate(180deg);' (click)="logout()"></i>
    </div>

    <div class="subchild2 " style="height: 20vh; background-color: black; color: white;">
      <div class="last">
        <ul class="">
          <li class="setting"><i class="fa fa-cog" aria-hidden="true" style="text-align: center; font-size: 24px;"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="child2">
    <div class="subchild1">
      <div>
        <h2>CollaboAlbum</h2>
        <hr>
      </div>
    </div>

    <div class="subchild2">
      <ul>
        <li><a href=""><i class="fa fa-image" style="font-size:12px;color:black"></i> Albums</a></li>
        <li><a href=""><i class="fa fa-image" style="font-size:12px;color:black"></i> Albums</a></li>
        <li><a href=""><i class="fa fa-image" style="font-size:12px;color:black"></i> Albums</a></li>
        <li><a href=""><i class="fa fa-image" style="font-size:12px;color:black"></i> Albums</a></li>
      </ul>
    </div>
  </div>
  <div class="child3">
    <div class="navbar">
      <div></div>
      <div><i class='far fa-user-circle' style='font-size:24px'></i></div>
    </div>
    <div class="search">
      <div>
        <h1> Add Album</h1>
        <hr>
      </div>
      <div><button class="button1"><i class="fa fa-plus" aria-hidden="true" style="margin: 4px;"></i>Add Albums</button>
      </div>
    </div>
    <div class="centr">
      <div class="form1">
        <form class="sign-in" id="demoForm" [formGroup]="form" (ngSubmit)="onSubmit()" style="padding: 0;">
          <div class="text-center">
            <h1>Edit Albums</h1>
          </div>
          <div class="form-control">
            <label for="title">Title<small style="color: red;"> *</small></label>
            <input formControlName="title" chars-nos type="email" id="title   " />
            <span *ngIf="form.get('title')?.invalid && submitted">
              <span *ngIf="form.get('title')?.errors?.['required']">
                <span class="red">Title is required</span>
              </span>

            </span>

          </div>
          <div class="form-control">
            <p>
              <label for="status">Status<small style="color: red;"> *</small></label>
              <br>
              <select formControlName="status" id="status">
                <option value="">--Please choose an option--</option>
                <option value="public">Public</option>
                <option value="private">Private</option>
              </select>
              <span *ngIf="form.get('status')?.invalid && submitted">
                <span *ngIf="form.get('status')?.errors?.['required']">
                  <span class="red">The status field is required.</span>
                </span>
              </span>
            </p>
          </div>


          <div class="button-div">
            <button type="submit" class="button" [disabled]="!form.valid">Edit Albums</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div> -->

<div class="search">
  <div>
    <h1> Edit Album</h1>
    <hr>
  </div>
  <!-- <div><button class="button1"><i class="fa fa-plus" aria-hidden="true" style="margin: 4px;"></i>Add Albums</button>
  </div> -->
</div>
<div class="centr">
  <div class="form1">
    <form class="sign-in" id="demoForm" [formGroup]="form" (ngSubmit)="onSubmit()" style="padding: 0;">
      <div class="text-center">
      </div>
      <div class="form-control">
        <label for="title">Title<small style="color: red;"> *</small></label>
        <input formControlName="title" chars-nos type="email" id="title   " />
        <span *ngIf="form.get('title')?.invalid && submitted">
          <span *ngIf="form.get('title')?.errors?.['required']">
            <span class="red">Title is required</span>
          </span>

        </span>

      </div>
      <div class="form-control">
        <p>
          <label for="status">Status<small style="color: red;"> *</small></label>
          <br>
          <select formControlName="status" id="status">
            <option value="">--Please choose an option--</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
          </select>
          <span *ngIf="form.get('status')?.invalid && submitted">
            <span *ngIf="form.get('status')?.errors?.['required']">
              <span class="red">The status field is required.</span>
            </span>
          </span>
        </p>
      </div>


      <div class="button-div">
        <button type="submit" class="button" [disabled]="!form.valid">Edit Albums</button>
      </div>

    </form>
  </div>

</div>