<!-- <section class="">
  <div class="row" style="border: 1px solid red;">
    <div class="login-left">
      <div class="main-logo">
        <a href="#">
          <h1 style="margin-bottom: 0px;">CollaboAlbum</h1>
          <hr style="height: 0rem; background-color: black; width: 13rem; float: left;">
        </a>
      </div>
      <form class="sign-in" id="demoForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
          <h1>Sign In</h1>
          <h3>Sign in into your account below</h3>
        </div>

        <div class="form-control">

          <label for="email">Email<small style="color: red;"> *</small></label>
          <input formControlName="email" chars-nos type="email" id="email" />
          <span *ngIf="loginForm.get('email')?.invalid && submitted">
            <span *ngIf="loginForm.get('email')?.errors?.['required']">
              <span class="red">The email field is required.</span>
            </span>
            <span *ngIf="!loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.errors?.['email']">
              <span class="red">The email must be a valid email address.</span>
            </span>
          </span>

        </div>
        <div class="form-control2">
          <p>
            <label for="name">Password<small style="color: red;"> *</small></label>
            <input formControlName="password" chars-nos id="name" />

            <span *ngIf="loginForm.get('password')?.invalid && submitted">
              <span *ngIf="loginForm.get('password')?.errors?.['required']">
                <span class="red">The password field is required.</span>
              </span>
            </span>
          </p>
        </div>

        <div class="link">
          <small>Dont' have an account ?</small>
          <a [routerLink]="['/signup']" style="text-decoration: none; margin-left: 5px; color: red;">Signup</a>
          <br>
          <small>Forgot password ?</small>
          <a [routerLink]="['/forgotpassword']" style="text-decoration: none; margin-left: 5px; color: red;">Click
            here</a>

        </div>
        <div class="button-div">
          <button type="submit" class="button" [disabled]="!loginForm.valid">Sign in </button>
        </div>

      </form>
    </div>
    <div class="login-right">
      <img src="../../../../../assets/album3.jpg" style="width: 100%; height: 100%;" alt="Login image">
    </div>
  </div>
</section>
<footer class="signup-footer">
  <div class="copyright">
    <p>Copyright Ⓒ 2023 Arcs</p>
  </div>
</footer> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Login Template</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <h1 class="logo login-title"><img src="../../../../../assets/album4.png" alt="logo" class="logo">
              Collabo Album</h1>
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Log in</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com"
                  formControlName="email" />
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                  placeholder="enter your passsword" formControlName="password" />
              </div>
              <button class="btn btn-block login-btn login-title" [disabled]="!loginForm.valid">Login</button>
              <!-- <button type="submit" class="button" [disabled]="!loginForm.valid">Sign in </button>
              {{loginForm.valid}} -->
            </form>
            <a [routerLink]="['/forgotpassword']" class="text-reset">Forgot password?</a>
            <p class="login-wrapper-footer-text">
              Don't have an account?
              <a [routerLink]="['/signup']" class="text-reset">Register here</a>
            </p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="../../../../../assets/album3.jpg" alt="login image" class="login-img" />
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>